<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ลงทะเบียนเรียน</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.tailwindcss.com/2.2.15/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <link rel="icon"
        href="https://cdn.discordapp.com/attachments/920978046016716840/1166677207565991946/CS.png?ex=654b5bd2&is=6538e6d2&hm=68edaa90823a686043c61155db8620046ff5d2a78efa530ecc5ca87bb75e8bf1&"
        type="image/x-icon">


</head>

<body class="min-h-screen bg-black" style="font-family: 'Kanit', sans-serif;">

    <%- include('../navbar')%>

        <form method="POST" action="/reg-course/<%= courses.id %>">
            <div class="bg-orange-500 text-center py-5 pt-24">
                <h1 class="text-white text-6xl font-bold ">REGISTER COURSE</h1>
            </div>

            <div class="flex items-center mt-[100px] ml-[100px]">
                <img src="https://cdn0.iconfinder.com/data/icons/business-management-197/55/Books-512.png"
                    alt="PNG trophy" class="w-14 h-14" />
                <div class="text-white text-4xl ml-4">ข้อมูลคอร์ส</div>
            </div>
            <div class="flex items-center mt-[30px] ml-[100px]">
                <img src="<%= courses.picture %>" alt="PNG course" class="w-[450px] h-[350px] mt-[40px] ml-[5px]" />
                <div class="flex flex-col items-start">
                    <div class="bg-[#EE7832] text-black p-2 rounded-3xl mt-[10px] ml-[55px] text-2xl">ชื่อคอร์ส</div>
                    <div class="text-white p-2 text-2xl  ml-[60px]" name="course_name">
                        <%= courses.course_name %>
                    </div>
                    <div class="bg-[#EE7832] text-black p-2 rounded-3xl text-2xl  ml-[55px]">รายละเอียด</div>
                    <!-- <div class="text-white p-2 text-2xl  ml-[60px]" name="course_detail">
                        วิชาสอนด้านความรักแต่เรียนเยอะแค่ไหนก็ไม่ชนะใจเขาอยู่ดี</div> -->
                    <div class="text-white p-2 text-2xl  ml-[60px]" name="course_detail">
                        <%= courses.des %>
                    </div>
                    <div class="bg-[#EE7832] text-black p-2 rounded-3xl text-2xl  ml-[55px]">ผู้สอน</div>
                    <div class="text-white p-2 text-2xl  ml-[60px]" name="course_lec">
                        <%= courses.role %>
                            <%= courses.lec_name %> (<%= courses.lec_nickname %>)
                    </div>
                </div>

            </div>
            <div class="flex flex-col items-start">
                <div class="bg-[#EE7832] text-black p-2 rounded-3xl text-2xl mt-[50px] ml-[110px]">เนื้อหา</div>
                <div class="mt-[10px] ml-[110px] w-[1300px] h-[200px] bg-white text-black rounded-2xl p-4"
                    name="content">
                    <%= courses.content %>
                </div>
            </div>
            <div class="flex items-center mt-[100px] ml-[100px]">
                <img src="https://cdn0.iconfinder.com/data/icons/business-management-197/55/Books-512.png"
                    alt="PNG trophy" class="w-14 h-14" />
                <div class="text-white text-4xl ml-4">ข้อมูลผู้เรียน</div>
            </div>
            <div class="flex items-center mt-[10px] ml-[100px]">
                <div class="flex flex-col items-start">
                    <input type="text" name="name"
                        class="mt-[35px]  w-[700px] h-[40px] bg-white text-black rounded-3xl p-4"
                        placeholder="ชื่อ - นามสกุล :">
                    <input type="text" name="nickname"
                        class="mt-[35px] w-[700px] h-[40px] bg-white text-black rounded-3xl p-4"
                        placeholder="ชื่อเล่น :">
                    <input type="text" name="student_id"
                        class="mt-[35px] w-[700px] h-[40px] bg-white text-black rounded-3xl p-4"
                        placeholder="รหัสนักศึกษา :">
                    <input type="text" name="years"
                        class="mt-[35px] w-[700px] h-[40px] bg-white text-black rounded-3xl p-4" placeholder="ชั้นปี :">
                    <input type="text" name="contact"
                        class="mt-[35px] w-[700px] h-[40px] bg-white text-black rounded-3xl p-4"
                        placeholder="ช่องทางการติดต่อ :">
                </div>
            </div>
            <div class="flex flex-col items-start">
                <div class="bg-[#EE7832] text-black p-2 rounded-3xl text-2xl mt-[50px] ml-[110px]">สิ่งที่คาดหวัง</div>
                <textarea class="mt-[10px] ml-[110px] w-[1200px] h-[200px] bg-white text-black rounded-2xl p-4"
                    name="expect" placeholder="สิ่งที่คาดหวัง:"></textarea>
            </div>
            <div class="text-right mr-[200px] mb-[80px] mt-[40px]">
                <a href="#">
                    <button
                        class="w-[140px] h-[54px] px-4 py-2.5 bg-amber-200 from-orange-600 to-yellow-400 rounded-full justify-center items-center gap-2 inline-flex border-2 border-transparent transition-transform transform hover:scale-105 ml-10 ">
                        <div class="text-black text-3xl font-normal">SUBMIT</div>
                    </button>
                </a>
            </div>

        </form>

        <div class="containner m-11">
            <div class="flex items-center mt-[100px] ml-[100px] mb-5">
                <img src="https://cdn0.iconfinder.com/data/icons/business-management-197/55/Books-512.png"
                    alt="PNG trophy" class="w-14 h-14" />
                <div class="text-white text-4xl ml-4">ผู้ที่ลงทะเบียนเรียน</div>
            </div>
            <table class=" w-full">
                <thead class="bg-orange-600 border-b-2 border-grey-200">
                    <tr>
                        <th class="p-3 text-sm font-semibold ">ลำดับ</th>
                        <th class="p-3 text-sm font-semibold border-white-600">รหัสนักศึกษา</th>
                        <th class="p-3 text-sm font-semibold border-white-600">ชื่อ - นามสกุล</th>
                        <th class="p-3 text-sm font-semibold border-white-600">ชื่อเล่น</th>
                        <th class="p-3 text-sm font-semibold border-white-600">ชั้นปี</th>
                    </tr>
                </thead>
                <tbody>
                    <% var count=1 %>
                        <% for (const std of student) { %>
                            <input type="text" hidden="false" value="test">
                            <tr class="bg-amber-100">
                                <td class="border border-slate-700 ...">
                                    <%= count %>
                                </td>
                                <td class="border border-slate-700 ...">
                                    <%= std.student_id %>
                                </td>
                                <td class="border border-slate-700 ...">
                                    <%= std.name %>
                                </td>
                                <td class="border border-slate-700 ...">
                                    <%= std.nickname %>
                                </td>
                                <td class="border border-slate-700 ...">
                                    <%= std.years %>
                                </td>
                            </tr>
                            <% count++ %>
                                <% } %>
                </tbody>

            </table>
        </div>

</body>

</html>